html, body{
    height: 100%;

}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'lemon';
    src: url('@/assets/ttf/Lemon-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'QingNiaoHuaGuangFanXingKai';
    src: url('@/assets/ttf/QingNiaoHuaGuangFanXingKai.woff');
}
@font-face {
    font-family: 'AaWeiDuXinDong';
    src: url('@/assets/ttf/AaWeiDuXinDong.woff');
}
@font-face {
    font-family: 'salsa';
    src: url('@/assets/ttf/Salsa-Regular.ttf') format('truetype');
}


